@import "tailwindcss";




/* Hakuna animation tena, tunabaki na background moja */
.bg-overlay-green {
  background-color: rgba(3, 59, 26, 0.7);
}

/* Fade in */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fadeIn {
  animation: fadeIn 1.5s ease forwards;
}

/* Slide up */
@keyframes slideUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-slideUp {
  animation: slideUp 1.5s ease forwards;
}